@using System.Runtime.InteropServices
@model string

@{
	ViewData["Title"] = "GM Log";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>
		@Html.ActionLink("New Log Entry", "New", "Log", null, new { @class = "btn btn-primary" })
	</p>
</div>

@*<h1>Index</h1>
@Model

@if (User?.Identity?.IsAuthenticated ?? false)
{
	<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}*@