@model string

@{
	ViewData["Title"] = "HintDB";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<h1>Index</h1>
@Model

@if (User?.Identity?.IsAuthenticated ?? false)
{
	<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}*@