@model IEnumerable<PanIQ_HintDB.Models.Hint>

<h2>Hints</h2>

<p>
	@Html.ActionLink("New Hint", "New","Hints",
	null, new { @class="btn btn-primary mx-auto" })
</p>

<div>
	<table id="hints" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Room</th>
			<th>Puzzle</th>
			<th>Hint</th>
		</tr>
		</thead>
		<tbody>
		
		</tbody>
	</table>

</div>

@section Scripts
{
	<script>
		$(document).ready(function() {
			var table = $("#hints").DataTable({
				order: [[1, 'asc']],
				
				"columnDefs": [
					{ "width": "20%", "targets": 0 },
					{ "width": "20%", "targets": 1 }

				],
				ajax: {
					url: "/api/hints",
					dataSrc: ""
				},
				columns: [
					{
						data: "puzzle.room.name"
					},
					{
						data: "puzzle.name"
					},
					{
						data: { order: "order", text: "text" },
						render: function(data, type, full) {

							var hintText = data.text;

							if (hintText.length > 60) {
								hintText = hintText.substring(0, 60);
								hintText += "...\"";
							}

							return data.order + ": " + hintText;
						}
					}
				]
			});
		});

	</script>
}