@model IEnumerable<PanIQ_HintDB.Models.Puzzle>

<h2>Puzzles</h2>

<p>
	@Html.ActionLink("New Puzzle", "New","Puzzles",
		null, new { @class="btn btn-primary mx-auto" })
</p>

<div>
	<table id="puzzles" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Puzzle Name</th>
			<th>Room</th>
			<th>Order</th>
			<th>Edit</th>
		</tr>
		</thead>
		<tbody>
		@*@foreach (var puzzle in Model)
		{
			<tr>
				<td>@puzzle.Room.Name</td>
				<td>@puzzle.Name</td>
			</tr>
		}*@
		</tbody>
	</table>

</div>


@section Scripts
{
	<script>
		$(document).ready(function() {
			var table = $("#puzzles").DataTable({
				ajax: {
					url: "/api/puzzles",
					dataSrc: ""
				},
				columns: [
					{
						data: "name"
					},
					{
						data: "room.name"
					},
					{
						data: "order"
					},
					{
						data: "id",
						render: function(data, type, puzzle) {
							return "<a href='/puzzles/edit/" + puzzle.id + "' class='btn btn-secondary'>" + "Edit" + "</a> <a href='/puzzles/details/" + puzzle.id + "' class='btn btn-outline-primary'>" + "Details" + "</a>";
						}
					}
				]
			});
		});

	</script>
}
